.card{
    background-color:rgb(252, 142, 224);
}

h1{
    text-align: center;
    font-size: 100px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p{
    text-align: center;
    color: black;
    font-size:70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section1{
    margin-bottom: 40px;
    width: 27.5%;
    background-color:white;
    border-radius: 5px;
    margin: 40px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
}

/* .section1:hover{
    box-shadow: 2px 2px 10px black;
} */

.image img{
    width: 100%;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.rate{
    text-align: center;
    font-size: 30px;
}

.des{
    margin-top: -20px;
    text-align: center;
    font-family: arial;
}

button{
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover{
    background-color:black;
    color: white;
    transition: .5px;
    cursor: pointer;

}

