@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root{
    --bg-color:#150019;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    min-height: 100vh;
   background: var(--bg-color);
    
}
/* ----------------------------------------- navigation ----------------------------------------- */

/* ------------------X----------------------- navigation ----------------------X------------------- */

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .heading h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    position: relative;
  
  }
  .heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #ea1d63;
  
  }
  
  
  .container{
    width: 90%;
    margin: 0 auto;
    padding:10px 20px ;
  
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    border: 2px solid #ea1d63 ;
  }
  
  
  .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
   
  }
  .about-image:hover img {
    transform: scale(1.2);
  }
  
  .about-content{
    flex: 1;
  }
  .about-content h2{
    font-size: 30px;
  margin-bottom: 15px;
  color: #fff;
  align-content: center;
  
  }
  .about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  @media screen and (max-width:768px) {
    .heading{
        padding: 0px 20px;
    }
  .heading h1{
    font-size: 36px;
  }    
  .container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  
  }
  .about-image{
    margin-left: 0px;
    margin-bottom: 20px;
  
  }
  .about-content p{
    padding: 0px;
    font-size: 16px;
    
  }
  }
  
  
  
  /* ----------------------X--------------------- Info Section ------------------------------X------------------------ */

/* ----------------------------------------- header ----------------------------------------- */

.header1{
    text-align: center; 
}

.header1 h1{
    color: #fff;
}

/* -------------------X---------------------- header -------------------X---------------------- */

/* ----------------------------------------- Card Section ----------------------------------------- */
.bor.active{
    display: block;
}
.bor{
    display: none;
}
.bo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bo .box{
    position: relative;
    width: 300px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}

.bo .box:hover{
    height: 400px;

}
.bo .box .imgBx{
  position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bo .box .imgBx img{
    max-width: 100%;
    opacity: 0.5;
    transition: 0.5s;
   
}

.box:hover .imgBx img{
    opacity: 1;
}

.box:before{
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -1;
}

.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    }
    


    .bo .box .content{
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 100px;
        background: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: 0.5s;
    } 

    .bo .box .content i{
        top: 1px;
       color: #ea1d63;
    }

    .bo .box .content .btn3{
        background: #00bcd4;
        border-radius: 1.3rem;
        padding: .1rem .2rem;
        cursor: pointer;
        
    }

    .bo .box .content .btn3 h3{
        font-size: 23px;
    }
    .bo .box:hover .content
{
    opacity: 1;

}

.box .content h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span{
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    
}



.btn1{
    position: relative;
    width: 120px;
    height: 60px;
    background: #ea1d63;
    left: 37rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    text-align: center;
    border: 3px solid var(--bg-color);
}

.btn1.active{
    background: #ea1d63;
}

.btn1:before{
    content: 'More \f103';
    font-family: fontAwesome ;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #060c21;
}

.btn1.active{
    top: 33rem;
}
.btn1.active:before{
    content: 'Less \f102';
}

/* --------------------X--------------------- Card Section ------------------X----------------------- */

@media (max-width:767px){

    .navigation{
        left: -60px;
    }
    .navigation.active{
        left: 0px;
        width: 100%;
    }
    .bo.active{
        display: none;
     }
}


@media (max-width:1320px){
    main{
        padding-left: 15rem;
    }

    .btn1{
        left: 37rem;
    }

}



@media (max-width:1220px){
    main{
        padding-left: 5rem;
    }
    .btn1{
        left: 34rem;
    }
}

@media (max-width:950px){
    main{
        left: 5rem;
    }
   

    main .site-title{
    
        height: 550px;
        width: 720px;
       
    }

    main .site-title .ims{
        height: 550px;
        width: 715px;
       
    }

    main .site-title .site-backgraound{
   
        padding-top: 30rem;
    
       
    }
    main .site-title .site-backgraound h1{
        font-size: 30px;
    }
    .btn1{
        left: 25rem;
    }

    .btn1.active{
        top: 60rem;
    }
}


@media (max-width:920px){
    main{
        padding-left: 10rem;
    }
    main .site-title{
    
        height: 500px;
        width: 602px;
       
    }

    main .site-title .ims{
        height: 500px;
        width: 597px;
       
    }

    main .site-title .site-backgraound{
   
        padding-top: 28rem;
       
    }


    .btn1{
        left: 25rem;
    }

    .btn1.active{
        top: 60rem;
    }
}


@media (max-width:800px){
    main{
        padding-left: 5rem;
    }

    .btn1{
        left: 21rem;
    }


}


@media (max-width:720px){
    main{
        padding-left: 2rem;
    }

    .btn1{
        left: 19rem;
    }

    .btn1.active{
        top: 90rem;
    }
}

@media (max-width:620px){
    main{
        padding-left: 2rem;
    }
    main .site-title{
    
        height: 400px;
        width: 502px;
       
    }

    main .site-title .ims{
        height: 397px;
        width: 497px;
       
    }

    main .site-title .site-backgraound{
   
        padding-top: 19rem;
       
    }

    .btn1{
        left: 15rem;
    }


}

@media (max-width:570px){
    main{
        padding-left: 0rem;
    }
    .btn1{
        left: 15rem;
    }

    .btn1{
        left: 13rem;
    }
}

@media (max-width:500px){
    main{
        padding-left: 0rem;
    }
    main .site-title{
    
        height: 300px;
        width: 402px;
       
    }

    main .site-title .ims{
        height: 297px;
        width: 397px;
       
    }

    main .site-title .site-backgraound{
   
        padding-top: 13rem;
       
    }
    .btn1{
        left: 11rem;
    }
}


@media (max-width:400px){
    main{
        padding-left: 1rem;
    }

    main .site-title{
    
        height: 200px;
        width: 302px;
       
    }

    main .site-title .ims{
        height: 197px;
        width: 297px;
       
    }

    main .site-title .site-backgraound{
   
        padding-top: 9rem;
       
    }

    main .site-title .site-backgraound h1{
        margin: .2rem;
       background: #ea1d63;
       width: auto;
       font-size: 15px;
       
     }

     .bo.active{
        display: none;
     }

     .btn1{
        left: 8rem;
    }

    .header h1{
        padding-top: 2rem;
    }

    .header{
        font-size: 10px;
    }
    
}

@media (max-width:380px){
    .btn1{
        left: 6rem;
    }
}
