*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'sans-serif;

}
body{
    background-color: #f2f2f2;

}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;

}
.heading h1::after{
content: "";
position: absolute;
width: 100%;
height: 4px;
display: block;
margin: 0 auto;
background-color: #4caf50;

}

.container{
    width: 90%;
    margin: 0 auto;
    padding:10px 20px ;

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}


.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img {
    transform: scale(1.2);

}

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 30px;
margin-bottom: 15px;
color: #333;
align-content: center;

}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
@media screen and (max-width:768px) {
    .heading{
        padding: 0px 20px;
    }
.heading h1{
    font-size: 36px;
}    
.container{
    padding: 0px;
}
.about{
    padding: 20px;
    flex-direction: column;

}
.about-image{
    margin-left: 0px;
    margin-bottom: 20px;

}
.about-content p{
    padding: 0px;
    font-size: 16px;
    
}
}


