@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

/* *************** Navbar ************** */
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
font-weight: bold;
letter-spacing: 5px;
}
.navbar-light .navbar-brand span{
    color: crimson;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 10x 5px;
    font-size: 18px;
    line-height: 0.3;
background-color: #fff;
}
/* *******X******** Navbar ******X******** */
/* *************** Slider ************** */
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;

}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    color:wheat;
    text-align: center;
}

.carousel-inner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(0,0,0,0.6);
    z-index: 1;
}

/* *****X********** Slider ******X******** */

@media only screen and (max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 165px;

    }
    .carousel-caption h5{
        font-size: 17px;

    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    
}
/**************************** Wedding Ieads Section ******************************* */
.All{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.All .Bo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/Ideas/bg.jpg');
}
.Idea-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.Idea-container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.Idea-container .card:hover
{
    height: 450px;
}

 .Idea-container .card .imgBx{
    position: absolute;
    left: 22px;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.Idea-container .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.Idea-container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Idea-container .card .content{
    position: absolute;
    left: -70px;
    top: 252px;
    width: 100;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.Idea-container .card:hover .content{
    top: 130px;
    height: 250px;
}

.Idea-container .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    color:var(--clr)
}

.Idea-container .card .content p{
    color: #333;

}

.Idea-container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}




/******X********************* Wedding Ieads Section ***************X************* */
/*************************** Clients Section **************************** */
.client-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('../Assets/Ideas/bg.jpg');
    background-size: cover;
    background-position: center;
}

.client-body .box{
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;

}

.box .client-card{
    position: relative;
    background: rgba(255,255,255,0.1);
    width: 300px;
    height: 400px;
    min-height: 400px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
}

.elements 
{
    position: absolute;
    top: 50px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0.25px 45px rgba(0,0,0,0.05);
}


.elements.bg::before
{
    content: '';
    position: absolute;
    inset: 0;
    background: url(/Photos/Ph.jpg);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .elements.bg::before
{
    opacity: 1;
}
.elements.imgBx
{
top: 0;
left: initial;
right: 60px;
width: 120px;
height: 120px;
padding: 10px;
transform: translateZ(120px);

}

.elements.imgBx img{
    position: absolute;
    width: calc(100% - 20px);
    height: 100px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.75);
    border-left: 1px solid rgba(255,255,255,0.75);
    box-shadow: 0.25px 45px rgba(0,0,0,0.05);
    opacity: 0;
    transition: 0.5s;
}
.box:hover .elements.imgBx img
{
    opacity: 1;
}
.elements.name 
{
    top: 235px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(180px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;
    box-shadow: none;
    color: #644651;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.25s;   
}
.box:hover .elements.name
{
    top: 135px;
    opacity: 1;   
}
.elements.content
{
    top: initial;
    left: initial;
    bottom: 0;
    right: -20px;
    width: 85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(180px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.elements.content p
{
    position: relative;
    color: #644651;
    font-size: 0.8em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;
}
.box:hover .elements.content p
{
    opacity: 1;
}
/***********X**************** Clients Section ***************X************* */

/******************************************footer *********************************************************************** */

#footer {
    width: 100%;
    padding-top: 2rem;
    font-family: sans-serif;
    background: #000;
}

.upper-footer {
    display: flex;
    justify-content: space-around;
}

.up-left {
    width: 700px;
    display: flex;
}

.image {
    width: 200px;
    position: relative;
}

.up-left img {
    position: absolute;
    width: 100%;
}

.content {
    width: 400px;
    margin-left: 3rem;
}

.description {
    font-size: 15px;
    font-weight: 100;
}

.footer-heading {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.up-right ul {
    display: flex;
    list-style: none;
}

.up-right ul li {
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 0 0.8rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-right ul li a {
    color: white;
}

.linkedIn {
    background-color: #0077b5;
}

.instagram {
    background: linear-gradient(15deg, #ffb13d, #dd277b, #4d5ed4);
}

.youtube {
    background-color: #f50000;
}

.whatsapp {
    background-color: green;
}

.down-footer {
    width: 100%;
    color: #fff;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-li {
    display: flex;
    list-style: none;
}

.footer-li li {
    padding: 0 1rem;
}

.footer-li li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 821px) {
    .up-left {
        width: 100%;
    }

    .upper-footer,
    .down-footer,
    .up-left {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .image {
        margin: 2rem 0;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-heading {
        margin: 1rem 0;
        text-align: center;
    }

    .down-footer {
        flex-direction: column-reverse;
    }

    .down-footer .leftPara {
        margin-top: 1rem;
    }

    .footer-li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 25px;
        margin: 1rem auto;
    }
}

/*****************************************xx**footer*****xxx*********************************************************/