
/* *************** Navbar ************** */
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
font-weight: bold;
letter-spacing: 5px;
}
.navbar-light .navbar-brand span{
    color: crimson;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 10x 5px;
    font-size: 18px;
    line-height: 0.3;
background-color: #fff;
}
/* *******X******** Navbar ******X******** */
/* *************** Slider ************** */
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;

}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    color:wheat;
    text-align: center;
}

.carousel-inner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(0,0,0,0.6);
    z-index: 1;
}

/* *****X********** Slider ******X******** */

@media only screen and (max-width:767px) {
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 165px;

    }
    .carousel-caption h5{
        font-size: 17px;

    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    
}

